html, body
{
	height: 100%;
}

body
{
	display: flex;
	margin: 0;
}

canvas
{
	flex-grow: 1;
}

#editor
{
	width: 25%;
	display: flex;
	flex-direction: column;

	--toolbar-width : 4%;
}

.cm-editor
{
	flex: 1;
	max-height: calc(100% - var(--toolbar-width));
	height: 100%;
}

#toolbar
{
	display: flex;
	flex-direction: row;
	height: var(--toolbar-width);
}

#toolbar[dark="true"], #toolbar[dark="true"] *
{
	background: #1E1E1E;
	color:#D4D4D4;
}

#toolbar > button
{
	padding: 1em;
}

@media (orientation: landscape)
{
	canvas
	{
		width: 1px;
	}
	body
	{
		flex-direction: row;
	}
}

@media (orientation: portrait)
{
	canvas
	{
		height: 1px;
	}
	body
	{
		flex-direction: column;
	}
}